.body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.menus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #734159;
}
.menus li {
  list-style: none;
}
.header__texts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 50%;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: larger;
}
.video__container {
  max-width: 100%;
  height: 100vh;
}
.header__video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(20%);
}
