.categoriasmain{
    background-color: #FED4D5;
    border-radius: 20px;
    height: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;


}
.categoriasmain ul li{
    list-style: none;
    display: flex;

}

.tamañocategorias{
    margin-top: 50px;
    height: 200px;
    width: 200px; 
    border-radius: 20px;  
    margin-left: 10px;
    margin-right: 10px;
    display: flex;


}
.hola{
    display: flex;
    justify-content: space-evenly;
}
.titulos{
    display: flex;
    justify-content: space-evenly;
}
h2{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    color: #53314F;
}
.ficha{
    background-color: #FED4D5;
    width: 500px;
    height: 500px;
    margin-left: 100px;
    margin-top: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}