@media only screen and (max-width: 549px) {
  .body {
    font-size: 10px;
    overflow-x: hidden;
  }
  .menus {
    width: 88.5%;
    justify-content: space-between;
  }

  .header__texts {
    display: none;
  }
  .headerimg {
    margin-left: 23px;
  }
  .penguinIMG {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
  }
  .iconocarrito {
    width: 31px;
    height: 31px;
    display: flex;
    align-items: center;
    display: none;
  }
  .iconoburger {
    width: 33px;
    height: 33px;
    display: block;
    display: flex;
    padding-right: 30px;
  }

  .video__container {
    height: 70%;
  }
  .header__video {
    height: 60%;
  }
  .categoriasmain {
    display: inline-block;
    background-color: #e5e5e5;
    height: 545px;
  }
  .tamañocategorias {
    display: none;
  }
  .categoriasdiv {
    background-color: #fed4d5;
    height: 110px;
  }

  .logos {
    width: 30px;
    height: 30px;
  }
  .ficha {
    height: 200px;
    width: 200px;
  }
  .plantaficha {
    height: 200px;
    width: 200px;
  }
}
