@media only screen and (max-width: 549px) {
  .body {
    font-size: 10px;
  }
  .menus {
    width: 100%;
    max-width: 100%;
    justify-content: space-between;
  }
  .menu ul {
    width: 100%;
  }
  .header__texts {
    position: absolute;
    transform: translateX(150%);
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    top: 19%;
    background-color: blue;
    height: 50%;
  }
  .penguinIMG {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left: 2%;
  }
  .iconocarrito {
    width: 40px;
    height: 40px;
  }
  .iconoburger {
    width: 40px;
    height: 40px;
    display: block;
  }
  .main {
  }
  .video__container {
    height: 70%;
  }
  .header__video {
    height: 60%;
  }
  .categoriasmain {
    display: inline-block;
    background-color: #e5e5e5;
    height: 545px;
  }
  .tamañocategorias {
    position: absolute;
    display: none;
  }
  .categoriasdiv {
    background-color: #fed4d5;
    height: 110px;
  }
  .categoriastexto {
  }
  .footer {
    margin-bottom: -20%;
  }
}
